[submodule "themes/novela"]
	path = themes/novela
	url = git@github.com:forestryio/hugo-theme-novela.git
[submodule "themes/slim"]
	path = themes/slim
	url = git@github.com:sayanchowdhury/hugo-theme-slim.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
