{{- /* Front matter: difficulty, duration, prerequisites (list of Markdown strings). */ -}}
{{- $p := .Params -}}
{{- if or $p.difficulty $p.duration $p.prerequisites }}
<dl class="tutorial-meta">
  {{- with $p.difficulty }}
  <div><dt>Level</dt><dd>{{ . | humanize }}</dd></div>
  {{- end }}
  {{- with $p.duration }}
  <div><dt>Time</dt><dd>{{ . }}</dd></div>
  {{- end }}
  {{- with $p.prerequisites }}
  <div class="tutorial-meta__prereqs"><dt>You'll need</dt>
    <dd><ul>{{ range . }}<li>{{ . | markdownify }}</li>{{ end }}</ul></dd>
  </div>
  {{- end }}
</dl>
{{- end }}
